<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de informações</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <div class="logo"><a href="/index.html"><img src="/img/logo3.png" alt="Logo" /></a></div>
      <nav class="menu">
        <a href="/index.html" class="menu-item">Início</a>
        <a href="sensores.html" class="menu-item">Sensores</a>
        <a href="informacoes.html" class="menu-item">Informações</a>
        <a href="sistemas.html" class="menu-item">Sistemas</a>
      </nav>
    </aside>
    <main class="content">
      <h1>Página de informações</h1>
    </main>
  </div>
</body>
</html>
